.all-cases {
    margin: 0 auto;
}

.headding {
    font-size: 16px;
    font-weight: normal;
}

.table-case {
    table-layout: fixed;
    width: 80%;
}

.table-case {
    border-spacing: 10px;
    border-collapse: collapse;
    border: 2px solid white;
    color: black;

    margin: 5px auto;
    width: 80%;
    max-width: 1250px;
}

.table-case td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.case-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: initial;
}

.noAutorization {
    text-align: center;
    color: red;
    height: 80vh;
    margin-top: 155px;
}

@media screen and (max-width: 834px) {
    .table-btn {
        font-size: 11px;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-case th {
        font-size: 14px;
    }


}


